* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: 30vh;
    align-content: center; }
    .header h1 {
      font-size: 40px;
      align-content: center;
      padding: 10px 200px;
      justify-content: center;
      color: #f9f9f9; }
    .header ul {
      display: flex;
      margin: 0 100px; }
    .header li {
      margin: 0 20px; }
      .header li a {
        font-size: 20px; }
  .divIndex h2 {
    font-size: 10px; }
  .footer h2 {
    font-size: 15px; }
    .footer h2 h3 {
      font-size: 20px; }
  .redes li {
    display: inline-block;
    padding: 25px 20px; }
    .redes liimg {
      width: 30px; }
  .proyectos {
    font-size: 20px; }
  .clientes {
    font-size: 23px;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  .card-img-top {
    padding: 15px; }
  .card-img-bottom {
    padding: 15px; }
  .mainContacto .consulta {
    font-size: 1.7rem; }
  .mainContacto .divFormu {
    grid-template-columns: 220px 220px;
    grid-template-rows: 100px 100px;
    grid-gap: 100px;
    grid-template-areas: "formulari formulari" "formulari formulari" "mapita mapita"; }
    .mainContacto .divFormu .mapita {
      padding: 0 0 30px 60px; }
  .mainContacto .formulari {
    margin: 0 0 0 30px; }
  .nosotros
h1 {
    font-size: 10px; }
  .imgAlbert {
    width: 60px; } }

@media (max-width: 425px) {
  .header {
    height: 25vh; }
    .header li {
      margin: 0 13px; }
      .header li a {
        font-size: 13px; }
  .header a:hover {
    transition: ease-in;
    color: #f9f9f9;
    font-size: 12px; }
  .footer {
    height: 90vh; }
    .footer h2 {
      font-size: 10px;
      letter-spacing: 7px;
      padding: 0 0 0 40px;
      justify-content: center; }
    .footer h3 {
      margin: 20px 0;
      font-size: 17px;
      padding: 0; }
  .redes
li {
    padding: 0 7px; }
    .redes
li img {
      width: 20px !important; }
  .divIndex h2 {
    font-size: 40px; }
  .proyectos {
    font-size: 15px;
    margin: 0; }
  .container {
    display: grid;
    background-color: #c8beb9;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "vinito" "sirenita" "campo" "gafas" "automovil" "bambi" "offantes" "offdespues"; }
  .clientes {
    font-size: 25px;
    justify-content: center;
    align-items: center; }
  .card-img-top {
    padding: 10px; }
  .card-img-bottom {
    padding: 10px; }
  .mainContacto .consulta {
    font-size: 20px; }
  .mainContacto .divFormu {
    grid-template-columns: 220px;
    grid-template-rows: 100px;
    grid-gap: 50px;
    grid-template-areas: "formulari" "formulari" "mapita"; }
    .mainContacto .divFormu .mapita {
      display: none; }
  .mainContacto .formulari {
    margin: 0 0 0 30px; }
    .mainContacto .formulari button {
      padding: 5px;
      margin: 8px;
      font-size: 20px; }
    .mainContacto .formulari .field {
      width: 73vw; }
  .mainContacto .form input {
    width: 73vw; } }

@media (max-width: 375px) {
  .header {
    height: 30vh; }
    .header h1 {
      padding: 10px 100px; }
    .header li {
      margin: 0 7px; }
      .header lia {
        font-size: 10px; }
        .header lia:hover {
          font-size: 10px; }
  .divIndex h2 {
    font-size: 20px; }
  .proyectos {
    font-size: 15px;
    margin: 0; }
  .container {
    background-color: #c8beb9; }
  .clientes {
    margin: 0;
    padding: 20px;
    font-size: 20px; }
  .letras {
    font-size: 15px; }
  .card-img-top {
    padding: 10px; }
  .card-img-bottom {
    padding: 10px; }
  .footer {
    height: 100vh; }
    .footer h2 {
      font-size: 15px;
      letter-spacing: 6px;
      padding: 0 20px 0 17px;
      margin: 0; }
      .footer h2 h3 {
        margin: 20px 0;
        font-size: 15px;
        padding: 0; }
  .redes li {
    padding: 5px 5px; } }

@media (max-width: 320px) {
  .header h1 {
    font-size: 50px; }
  .header li {
    margin: 5px;
    padding: 0; }
  .header ul {
    padding: 0; }
  .footer {
    height: 100vh; }
    .footer h2 {
      font-size: 19px;
      letter-spacing: 6px;
      align-content: center;
      margin: 0; }
    .footer h3 {
      font-size: 15px;
      padding: 0; }
  .redes li {
    padding: 5px; }
  .redes img:hover {
    transform: scale(0.8);
    transition: all .4s; }
  .divIndex h2 {
    font-size: 15px; }
  .proyectos {
    font-size: 15px;
    margin: 0; }
  .container {
    background-color: #c8beb9; }
  .clientes {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0; }
  .card-img-top {
    padding: 10px; }
  .card-img-bottom {
    padding: 10px; }
  .nosotros h1 {
    font-size: 20px; }
  .textoInformativo
.parrafo1 {
    font-size: 5px; } }

header {
  background-color: #000000;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif; }
  header h1 {
    font-size: 4.5rem;
    text-align: center;
    justify-content: center;
    padding: 0 0 0 300px;
    color: #f9f9f9; }
  header ul {
    display: flex;
    margin: 10px 200px; }
  header li {
    list-style: none;
    margin: 0 20px; }
    header li a {
      color: #846671;
      font-size: 1.6rem;
      transition: .4s all ease 0s;
      text-decoration: none;
      letter-spacing: .4px; }
      header li a:hover {
        text-decoration: none;
        transition: ease-in;
        color: #f9f9f9;
        font-size: 1.6rem; }

.divIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c8beb9; }
  .divIndex h2 {
    margin-top: 15px;
    font-size: 60px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .7px; }
  .divIndex img {
    width: 90%;
    padding: 20px 0 40px 0; }

.proyectos {
  text-align: center;
  padding: 20px;
  font-size: 60px;
  letter-spacing: .7px;
  font-family: 'Oswald', sans-serif;
  background-color: #c8beb9; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "vinito sirenita" "campo gafas" "automovil bambi" "offantes offdespues"; }

.campo {
  grid-area: campo;
  width: 100%; }

.gafas {
  grid-area: gafas;
  width: 100%;
  height: 100%; }

.vinito {
  grid-area: vinito;
  width: 100%; }

.sirenita {
  grid-area: sirenita;
  width: 100%;
  height: 100%; }

.automovil {
  grid-area: automovil;
  width: 100%; }

.bambi {
  grid-area: bambi;
  width: 100%;
  height: 100%; }

.offantes {
  grid-area: offantes;
  width: 100%;
  height: 100%; }

.offdespues {
  grid-area: offdespues;
  width: 100%; }

.clientes {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 30px 60px 30px 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .7px;
  font-size: 50px;
  background-color: #c8beb9; }

.letras {
  font-family: 'Oswald', sans-serif;
  font-size: 30px; }

.mainNosotros {
  background-color: #f9f9f9; }

.nosotros
h1 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 30px 10px 20px 70px;
  font-family: 'Oswald', sans-serif;
  font-size: 60px; }

.textoInformativo
.parrafo1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-style: bold;
  padding: 30px;
  display: flex;
  text-align: center; }

.parrafo2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  display: flex;
  text-align: center;
  padding: 40px; }

.imgAlbert {
  padding: 0 0 40px 500px; }

.consulta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 60px 10px;
  font-family: 'Oswald', sans-serif;
  color: #0e0e1c;
  font-size: 3.5rem; }

.mainContacto {
  background-color: #f9f9f9; }
  .mainContacto .mapita {
    padding: 0 0 90px 0;
    width: 120px; }

.formulari {
  width: 400px;
  padding: 20px;
  margin: 0 0 0 200px;
  background-color: #f9f9f9; }
  .formulari input {
    padding: 5px;
    margin: 10px;
    width: 25vw; }
  .formulari .field {
    width: 25vw;
    padding: 5px;
    margin: 10px; }
  .formulari button {
    background-color: #000000;
    color: #846671;
    font-family: "Oswald", sans-serif;
    padding: 9px;
    margin: 10px;
    font-size: 1.5rem; }

.formulari {
  grid-area: formulari; }

.mapita {
  grid-area: mapita; }

.divFormu {
  display: grid;
  grid-gap: 200px;
  grid-template-columns: 220px 220px 220px;
  grid-template-areas: "formulari formulari mapita" "formulari formulari mapita"; }

.footer {
  display: flex;
  padding: 50px 100px;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #000000;
  color: #846671;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px; }
  .footer h2 {
    color: #f9f9f9;
    padding: 20px 0;
    letter-spacing: 7px;
    font-size: 40px; }

.redes
li {
  display: inline-block;
  padding: 25px 20px; }
  .redes
li img {
    width: 40px; }
    .redes
li img:hover {
      transform: scale(0.8);
      transition: all .4s; }
