.footer {
  display: flex;
  padding: 50px 100px;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: #846671;
  justify-content: space-between;
  font-family: $osvaldo;
  letter-spacing: 3px;
  h2 {
    color: #f9f9f9;
    padding: 20px 0;
    letter-spacing: 7px;
    font-size: 40px;
  }
}

.redes li {
  display: inline-block;
  padding: 25px 20px;
  img {
    width: 40px;
    &:hover {
      transform: scale(0.8);
      transition: all 0.4s;
    }
  }
}
