// TAMAÑO TABLET
@media (max-width: 768px) {
  //HEADER

  .header {
    flex-direction: column;
    height: 20vh;
    align-content: center;
    h1 {
      font-size: 40px;
      margin: 0;
      padding: 0;
      align-content: center;
      padding: 10px 200px;
      justify-content: center;
      color: #f9f9f9;
    }
    ul {
      display: flex;
      margin: 0 100px;
    }
    li {
      margin: 0 20px;
      a {
        font-size: 15px;
        &:hover {
          font-size: 15px;
        }
      }
    }
  }

  //FOOTER

  .footer h2 {
    font-size: 20px;
    h3 {
      font-size: 15px;
    }
  }

  .redes li {
    display: inline-block;
    padding: 25px 20px;
    img {
      width: 30px;
    }
  }

  //INDEX
  .divIndex h2 {
    font-size: 40px;
  }

  //PROYECTOS

  .proyectos {
    font-size: 30px;
    margin: 0;
    padding: 20px 20px 0 20px;
  }

  //CLIENTES

  .clientes {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .letras {
    font-size: 15px;
  }

  .card-img-top {
    padding: 15px;
  }

  .card-img-bottom {
    padding: 15px;
  }

  //NOSOTROS

  .nosotros h1 {
    font-size: 30px !important;
  }

  .textoInformativo {
    .parrafo1 {
      font-size: 20px;
    }
    .parrafo2 {
      font-size: 15px;
    }
  }

  .imgAlbert {
    margin: 0 0 0 150px;
    padding: 20px 0 0 27px;
    width: 300px;
    height: 310px;
  }

  .nombre01 {
    font-size: 30px;
    width: 420px;
  }

  .parrafo3 {
    font-size: 20px;
  }

  .bloqAlbert {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "imgAlberto"
      "nombre01"
      "parrafo3";
  }

  //CONTACTO

  .mainContacto {
    .consulta {
      font-size: 20px;
    }
    .divFormu {
      grid-template-columns: 200px 200px;
      grid-template-rows: 90px 90px;
      grid-gap: 80px;
      grid-template-areas:
        "formulari formulari"
        "formulari formulari"
        "mapita mapita";
      .mapita {
        padding: 0 0 30px 80px;
      }
    }
    .formulari {
      margin: 0 0 0 160px;
      input {
        font-size: 15px;
        width: 50vw;
        padding: 3px;
        margin: 6px;
      }
      .field {
        width: 50vw;
        height: 20vh;
        padding: 3px;
        margin: 6px;
        font-size: 15px;
      }
      button {
        font-size: 15px;
        padding: 6px;
        margin: 8px;
      }
    }
  }
}
// TAMAÑO MOBILE L
@media (max-width: 425px) {
  //HEADER

  .header {
    height: 17vh;
    h1 {
      font-size: 40px;
      padding: 0;
      margin: 0;
    }
    ul {
      padding: 0;
    }
    li {
      margin: 0 10px;
      a {
        font-size: 13px;
        &:hover {
          font-size: 13px;
        }
      }
    }
  }

  //FOOTER
  .footer {
    height: 30vh;
    padding: 25px 50px;
    h2 {
      font-size: 25px;
      letter-spacing: 4px;
      margin: 0;
      padding: 0px;
      justify-content: center;
    }
    h3 {
      margin: 20px 0;
      font-size: 17px;
      padding: 0;
    }
  }

  .redes li {
    padding: 0 7px;
    img {
      width: 20px !important;
    }
  }

  //INDEX

  .divIndex h2 {
    font-size: 40px;
    margin: 0;
  }

  //PROYECTOS

  .proyectos {
    font-size: 35px;
    margin: 0;
  }

  .container {
    display: grid;
    background-color: #c8beb9;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "vinito"
      "sirenita"
      "campo"
      "gafas"
      "automovil"
      "bambi"
      "offantes"
      "offdespues";
  }

  //CLIENTES

  .clientes {
    font-size: 35px;
    justify-content: center;
    align-items: center;
  }

  .card-img-top {
    padding: 10px;
  }

  .card-img-bottom {
    padding: 10px;
  }

  //NOSOTROS
  .nosotros h1 {
    justify-content: center;
    padding: 20px;
    margin: 0px;
  }

  .textoInformativo {
    .parrafo1 {
      padding: 10px;
      margin: 0px;
    }
    .parrafo2 {
      padding: 10px;
    }
  }

  .imgAlbert {
    margin: 0 0 0 50px;
    padding: 20px 0 0 27px;
    width: 300px;
    height: 310px;
  }

  .nombre01 {
    font-size: 30px;
  }

  .parrafo3 {
    font-size: 20px;
    padding: 10px;
  }

  //CONTACTO

  .mainContacto {
    .consulta {
      font-size: 20px;
    }
    .divFormu {
      grid-template-columns: 220px;
      grid-template-rows: 100px;
      grid-gap: 50px;
      grid-template-areas:
        "formulari"
        "formulari"
        "mapita";
      .mapita {
        display: none;
      }
    }
    .formulari {
      margin: 0px;
      padding: 0 0 0 50px;
      button {
        padding: 5px;
        margin: 0px 0px 0px 130px;
        font-size: 20px;
      }
      .field {
        width: 73vw;
      }
    }
    .form input {
      width: 73vw;
    }
  }
}

// TAMAÑO MOBILE M
@media (max-width: 375px) {
  //HEADER

  .header {
    height: 17vh;
    h1 {
      padding: 10px 100px;
    }
    li {
      margin: 0 7px;
      &a {
        font-size: 10px;
        &:hover {
          font-size: 10px;
        }
      }
    }
  }

  //FOOTER

  .footer {
    height: 30vh;
    padding: 25px 50px;
    h2 {
      font-size: 18px;
      letter-spacing: 4px;
      padding: 0 20px 0 17px;
      margin: 0;
      h3 {
        margin: 20px 0;
        font-size: 15px;
        padding: 0;
      }
    }
  }
  .redes {
    li {
      padding: 5px 5px;
    }
  }

  //INDEX

  .divIndex h2 {
    font-size: 21px;
  }

  //PROYECTOS

  .proyectos {
    font-size: 30px;
    margin: 0;
  }

  .container {
    background-color: #c8beb9;
  }

  //CLIENTES

  .clientes {
    margin: 0;
    padding: 20px;
    font-size: 30px;
  }

  .letras {
    font-size: 15px;
  }

  .card-img-top {
    padding: 10px;
  }

  .card-img-bottom {
    padding: 10px;
  }

  //NOSOTROS

  .nosotros h1 {
    font-size: 30px;
  }

  .textoInformativo {
    .parrafo1 {
      font-size: 25px;
    }
    .parrafo2 {
      font-size: 20px;
    }
  }
  .imgAlbert {
    padding: 0 0 0 25px;
    width: 350px;
    height: 340px;
    margin: 0;
  }

  .nombre01 {
    font-size: 30px;
    width: 320px;
  }

  .parrafo3 {
    font-size: 20px;
    padding: 0 0 0 20px;
  }

  //CONTACTO

  .mainContacto {
    .consulta {
      font-size: 22px;
    }

    .formulari {
      width: 320px;
      input {
        font-size: 15px;
      }
      button {
        font-size: 18px;
        margin: 0 0 0 110px;
      }
    }
  }
}

// TAMAÑO MOBILE S
@media (max-width: 320px) {
  //HEADER

  .header {
    h1 {
      font-size: 30px;
    }
    li {
      margin: 5px;
      padding: 0;
    }
    ul {
      padding: 0;
    }
  }

  //FOOTER

  .footer {
    height: 30vh;
    padding: 15px 20px;
    h2 {
      font-size: 19px;
      letter-spacing: 3px;
      align-content: center;
      margin: 0;
      padding: 0;
    }
    h3 {
      font-size: 15px;
      padding: 0;
      margin: 0;
    }
  }

  .redes {
    li {
      padding: 5px;
    }
    img:hover {
      transform: scale(0.8);
      transition: all 0.4s;
    }
  }

  //INDEX

  .divIndex {
    h2 {
      font-size: 23px;
    }
  }

  //PROYECTOS

  .proyectos {
    font-size: 23px;
    margin: 0;
  }

  .container {
    background-color: #c8beb9;
  }

  //CLIENTES

  .clientes {
    font-size: 23px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  .card-img-top {
    padding: 10px;
  }

  .card-img-bottom {
    padding: 10px;
  }
  //NOSOTROS

  .mainNosotros {
    .nosotros {
      font-size: 20px;
    }
    .textoInformativo {
      .parrafo1 {
        font-size: 20px;
      }
      .parrafo2 {
        font-size: 18px;
      }
    }
    .imgAlbert {
      padding: 0 0 0 20px;
    }

    .parrafo3 {
      padding: 0 0 0 15px;
      margin: 0 0 25px 0;
    }
  }

  .imgAlbert {
    padding: 0 0 0 40px;
    width: 270px;
    height: 270px;
  }

  //CONTACTO

  .mainContacto {
    .consulta {
      padding: 15px;
    }

    .formulari {
      height: 300px;
      width: 250px;
      padding: 0 0 0 35px;
      button {
        margin: 0 0 0 95px;
      }
    }
  }
}
