// TAMAÑO TABLET
@media (max-width: 768px){

//HEADER

    .header{
        flex-direction: column;
        height: 30vh;
        align-content: center;
        h1{
            font-size: 40px;
            align-content: center;
            padding: 10px 200px;
            justify-content: center;
            color: #f9f9f9;
        }
        ul{
            display: flex;
            margin: 0 100px ;
        }
        li{
            margin: 0 20px;
            a{
                font-size: 20px;
            }
        }
    }

    .divIndex{
        h2{
            font-size: 10px;
        }
    }

//FOOTER

   .footer h2{
    font-size: 15px;
    h3{
     font-size: 20px;
    }
}

.redes li{
    display: inline-block;
    padding: 25px 20px;
    &img{
     width: 30px;
 }
}
    
//PROYECTOS

   .proyectos{
       font-size: 20px;
   }

//CLIENTES

   .clientes{
       font-size: 23px;
       justify-content: center;
       align-items: center;
       padding: 20px;
   }

   .card-img-top{
       padding: 15px;
   }
   
   .card-img-bottom{
       padding: 15px;
   }

//CONTACTO

    .mainContacto{
        .consulta{
            font-size: 1.7rem;
        }
        .divFormu{
            grid-template-columns: 220px 220px;
            grid-template-rows: 100px 100px;
            grid-gap: 100px;
            grid-template-areas:
               "formulari formulari"
               "formulari formulari"
               "mapita mapita";
               .mapita{
                   padding: 0 0 30px 60px;
               }
        }
        .formulari{
            margin: 0 0 0 30px;
        }
    }

//NOSOTROS

.nosotros
    h1{
        font-size: 10px;
    }
.imgAlbert{
    width: 60px;
}

}

// TAMAÑO MOBILE L
@media (max-width: 425px){

//HEADER

   .header{
       height: 25vh;
       li{
        margin: 0 13px;
        a{
            font-size: 13px;
        }
    }
   }

   .header a:hover{
       transition: ease-in;
       color: #f9f9f9;
       font-size: 12px;
   }

//FOOTER
    .footer{
        height: 90vh;
        h2{
             font-size: 10px;
            letter-spacing: 7px;
             padding: 0 0 0 40px;
             justify-content: center;
         }
         h3{
             margin: 20px 0;
            font-size: 17px;
            padding: 0;
        }
}

    .redes 
        li{
            padding: 0 7px;
        img{
            width: 20px !important;
        }
}

//INDEX

    .divIndex h2{
        font-size: 40px;
}

//PROYECTOS

   .proyectos{
       font-size: 15px;
       margin: 0;
   }

   .container {
       display: grid; 
       background-color: #c8beb9;
       grid-template-columns: 1fr; 
       grid-template-rows: 1fr; 
       gap: 0px 0px; 
       grid-template-areas: 
         "vinito"
         "sirenita"
         "campo"
         "gafas"
         "automovil"
         "bambi"
         "offantes"
         "offdespues"; 
   }

//CLIENTES

   .clientes{
       font-size: 25px;
       justify-content: center;
       align-items: center;
   }

   .card-img-top{
       padding: 10px;
   }
   
   .card-img-bottom{
       padding: 10px;
   }

//CONTACTO

    .mainContacto{
        .consulta{
            font-size: 20px;
        }
        .divFormu{
            grid-template-columns: 220px;
            grid-template-rows: 100px;
            grid-gap: 50px;
            grid-template-areas:
                "formulari"
                "formulari"
                "mapita";
            .mapita{
               display: none;
           }
    }
    .formulari{
        margin: 0 0 0 30px;
        button{
            padding: 5px;
            margin: 8px;
            font-size: 20px;
        }
        .field{
            width: 73vw;
        }
    }
    .form input{
        width: 73vw;
    }
}

}

// TAMAÑO MOBILE M
@media (max-width: 375px){

//HEADER

    .header{
       height: 30vh;
       h1{
           padding: 10px 100px;
       }
       li{
        margin: 0 7px;
        &a{
            font-size: 10px;
            &:hover{
                font-size: 10px;
            }
        }
        }
    }

//INDEX

   .divIndex h2{
       font-size: 20px;
   }

//PROYECTOS

   .proyectos{
       font-size: 15px;
       margin: 0;
   } 

   .container{
       background-color: #c8beb9;
   }

//CLIENTES

   .clientes{
       margin: 0;
       padding: 20px;
       font-size: 20px;
   }

   .letras{
       font-size: 15px;
   }

   .card-img-top{
       padding: 10px;
   }
   
   .card-img-bottom{
       padding: 10px;
   }
   
//FOOTER

   .footer {
       height: 100vh;
        h2{
        font-size: 15px;
        letter-spacing: 6px;
        padding: 0 20px 0 17px;
        margin: 0;
       h3{
        margin: 20px 0;
        font-size: 15px;
        padding: 0;
    }
   }
}
    .redes{
        li{
            padding: 5px 5px;
        }
    }

}

// TAMAÑO MOBILE S 
@media (max-width: 320px){
  //HEADER
  
    .header {
        h1{
            font-size: 50px;
        }
        li{
            margin: 5px;
            padding: 0;
        }
        ul{
            padding: 0;
        }
        
    }
//FOOTER
    .footer{
        height: 100vh;
        h2{
            font-size: 19px;
            letter-spacing: 6px;
            align-content: center;
            margin: 0;
        }
        h3{
            font-size: 15px;
            padding: 0;
        }
    }

.redes {
    li{
        padding: 5px;
    }
    img:hover{
        transform: scale(0.8);
        transition: all .4s;
    }
}

//INDEX

   .divIndex {
        h2{
            font-size: 15px;
        }
   }


//PROYECTOS

   .proyectos{
       font-size: 15px;
       margin: 0;
   }

   .container{
       background-color: #c8beb9;
   }

//CLIENTES

   .clientes{
       font-size: 15px;
       justify-content: center;
       align-items: center;
       padding: 20px;
       margin: 0;
   }

   .card-img-top{
       padding: 10px;
   }
   
   .card-img-bottom{
       padding: 10px;
   }
//NOSOTROS

   .nosotros h1{
        font-size: 20px;
   }
   .textoInformativo
        .parrafo1{
            font-size: 5px;
        }
}