.clientes {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 30px 60px 30px 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.7px;
  font-size: 50px;
  background-color: $blanco;
}

.letras {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
