.divIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c8beb9;
  h2 {
    font-size: 60px;
    padding: 20px;
    font-family: $osvaldo;
    letter-spacing: 0.7px;
  }
  img {
    width: 90%;
    padding: 20px 0 40px 0;
  }
}
