.nosotros{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 30px 10px 20px 70px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.albermaca{
    display: flex;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    justify-content: space-around;
    margin: 20px;
    flex-direction: row;
}

.nosotrosP{
    display: flex;
    font-size: medium;
    font-family: 'Oswald', sans-serif;
    justify-content: left;
    margin: 20px;
    flex-direction: row;
}
