.proyectos {
    text-align: center;
    padding: 20px;
    font-size: 45px;
    letter-spacing: .7px;
    font-family: 'Oswald', sans-serif;
    background-color: #c8beb9;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "vinito sirenita"
      "campo gafas"
      "automovil bambi"
      "offantes offdespues"; 
}

.campo{
    grid-area: campo;
    width: 100%;
}

.gafas{
    grid-area: gafas;
    width: 100%;
    height: 100%;
}

.vinito{
    grid-area: vinito;
    width: 100%;
}

.sirenita{
    grid-area: sirenita;
    width: 100%;
    height: 100%;
}

.automovil{
    grid-area: automovil;
    width: 100%;
}

.bambi{
    grid-area: bambi;
    width: 100%;
    height: 100%;
}

.offantes{
    grid-area: offantes;
    width: 100%;
    height: 100%;
}

.offdespues{
    grid-area: offdespues;
    width: 100%;
}
